<html>
<head>
<script src="/site_media/css/52/html5.js"></script>
<link rel="stylesheet" type="text/css" href="/site_media/css/52/reset.css" media="screen" title="The Hub | New ticket" />
<link rel="stylesheet" type="text/css" href="/site_media/css/52/general.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/site_media/css/52/grid.css" media="screen" />
<!--[if IE]>
    <style>
    .logo {
                filter: Shadow(Color=#666666,   
                Direction=135, 
                Strength=3);
    }
    </style>
<![endif]-->
</head>
<body>
<blockquote>
    Thank you, {{ reporter }}, you can further followup the defect at <a href="{{ ticket_url }}">{{ ticket_url }}</a>. <br/>
    To add comments you need to login there using hubspace/hubplus username and password.
</blockquote>

</body>
</html>
